.main-container{
    align-self: center;
    width: 80%;
    height: 100%;
    background-color: rgb(190, 214, 255);

}
.message-part{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    /* background-color: cadetblue; */
}
.message-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: darkslategrey; */
    align-items: center;
    justify-content: center;
}
/* .message-right{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color:grey; */
    /* align-items: center;
    justify-content: center;
} */ 

.header-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-send{
    align-self: center;
    justify-self: center;
}
/* 
.card{
    background-color: rgb(151, 169, 202);
    border-radius: 20px;
    margin: 10px;
} */

.control-part{
    background-color: rgb(61, 103, 182);
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
}
.light-part{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 161, 176);
    align-items: center;
    justify-content: center;
}
.display-box{
    padding-top: 8%;
    padding-left: 4%;
    /* background-color: blueviolet; */
}

.display-row{
    margin-top: 5%;
    /* background-color: rgb(154, 151, 175); */
}

.icon-font{
    width: 15%;
    height: 15%;
}



